:root {
    --header-background-color: #dd3314;
    --name-color: aliceblue;
    --about-me-background-color:white;
    --background-color:tomato;
}

@font-face {
    font-family: "Playfair-regular";
    src: url("./fonts/play-fair/static/PlayfairDisplay-Regular.ttf") format(TrueType);
}

@font-face {
    font-family: "Playfair-bold-italic";
    src: url("./fonts/play-fair/static/PlayfairDisplay-BoldItalic.ttf") format(TrueType);
}

@font-face {
    font-family: "Playfair-bold";
    src: url("./fonts/play-fair/static/PlayfairDisplay-Bold.ttf") format(TrueType);
}


@font-face {
    font-family: "Roboto-bold";
    src: url("./fonts/roboto/Roboto-Bold.ttf") format(TrueType);
}

@font-face {
    font-family: "Roboto-light";
    src: url("./fonts/roboto/Roboto-Light.ttf") format(TrueType);
}

/* icon size */
i {
    font-size: 2rem;
}



/* header-desktop */

header {
    display: grid;   
    grid-template-columns: repeat(5,1fr);
    background-color: var(--header-background-color);

    padding: 2rem;
}

.profile-picture {
    position: relative;
    grid-column: 1/3;
    grid-row: 1/2;

    box-shadow: 0px 3px 5px 0px;
}

.profile-picture > h2 {
    color: var(--name-color);
    font-family: "Playfair-bold-italic", sans-serif;
    font-size: 2rem;

    position: absolute;
    bottom: 0;
    left: 60%;
}

.profile-picture > picture > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;

    height: 100%;
}

.about-me {
    display: grid;
    place-items: center;
    background-color: var(--about-me-background-color);

    grid-column: 3/6;
    grid-row: 1/2;
    padding: 2rem;
}

.information {
    display: grid;
    justify-items: center;
}

.information > h2 {
    font-family: "Roboto-bold", sans-serif;
    font-size: 2.5rem;
}

.information > p {
    font-family: "Playfair-regular";
    font-size: 1.5rem;
}

.profile-links {
    display: flex;
    gap: 10px;
}

/* main-desktop */

main {
    margin-bottom: 5%;
}

.my-projects {
    display: grid;
    place-items: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1%;
    margin: 1%;
}

.project {
    background: var(--background-color);
    border: 1px solid red;
    padding: 1rem;
}
/* project image frame */
.project-image {
    border-bottom: 1px solid var(--background-color);
    border-top: 1px solid var(--background-color);
    border-left: 1px solid var(--background-color);
    border-right: 1px solid var(--background-color);
}
/* project img */
.project-image > img {
    display: block;
    object-fit: fill;
    max-width: 100%;
    margin: 0 auto;
}

.project-details {
    position: relative;
}

  /* project name */
.project-details > h2 {
    font-family: "Roboto-bold", sans-serif;
    font-size: 1.5rem;
}
/* project description */
.project-details > p {
    font-family: "Playfair-regular";;
    font-size: 1rem;
}

/* icon */
.project-details > a > .devicon-github-original {
    position: absolute;
    top: 0;
    right: 12%;
}

.project-details > a > .fa-solid {
    position: absolute;
    top: 0;
    right: 2%;
}

/* footer-desktop */

.contact-me {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.contact-container {
    display: grid;
    place-items: start;
    grid-row: 1/5;
    grid-column: 1/5;

    padding: 1rem;
    background: aliceblue;
    box-shadow: 0px 3px 5px 0px;
}

.keep-touch {
    display: grid;
    place-items: center;
}

.phone-number {
    display: flex;
    gap: 5px;
}

.email-address {
    display: flex;
    gap: 5px;
}

.footer-links {
    margin-left: 25%;
}

.footer-img-container {
    grid-row: 1/2;
    grid-column: 3/5;
}

.footer-img-container > img {
    
    max-width: 100%;
}

/* header */
.keep-touch > h2 {
    font-family: "Roboto-bold", sans-serif;
    font-size: 1.5rem;
 }

/* details */
.keep-touch > p {
    font-family: "Playfair-regular";
    font-size: 1rem;
}

/* address */
.address > p {
    font-family: "Playfair-regular";
    font-size: 1rem;
}    

/* phone number */
.phone-number > p {
    font-family: "Playfair-regular";
    font-size: 1rem;
}  

/* email address */
.email-address > p {
    font-family: "Playfair-regular";
    font-size: 1rem;
}  

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}


@keyframes onHover {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(2turn);
    }
}

/* transition */

.project {
    transition: transform 900ms ease-in-out;
}

.project:hover {
    transform: scale(1.2) rotate(1turn);
}
   

i {
    transition: transform 900ms ease-in-out;
}

i:hover {
    transform: scale(1, 2) rotate(1turn) ;
}
   

/* mobile */
@media (max-width: 600px) {
    /* header-mobile */
    header {
        
        padding: 0.3rem;
    }
    /* picture frame */
    .profile-picture {
        box-shadow: none;
        grid-column: 1/6;
        grid-row: 1;

        padding: 0.3rem;
    }
    /* user image */
    .profile-picture > picture > img {
        max-width: 100%;
    }
    /* user name */
    .profile-picture > h2 {
        position: absolute;
       
        bottom: -5%;
    }

    .about-me {
        grid-column: 1/6;
        grid-row: 2;
    }

    /* user info */
    .information {
        padding: 2rem;
    }
    /* user links */
    .profile-links {
        margin-bottom: 0.5rem;
    }

    /* main-mobile */
    main {
        margin-bottom: 50%;
    }
   
    .project-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    /* icon */
    .project-details > a > .devicon-github-original {
        position: absolute;
        top: 0;
        right: 12%;
    }
    /* icon */
    .project-details > a > .fa-solid {
        position: absolute;
        top: 0;
        right: 0;
    }
    /* project name */
    .project-details > h2 {
        margin-left: 2rem;
    }
    /* project description */
    .project-details > p {
        margin-left: 1rem;
    }

    /* footer */
    .contact-me {
        grid-template-rows: 0.1fr 1.5fr;
        position: relative;
        padding: 1rem;
        background: aliceblue;
    }
    
    .contact-container > div:nth-child(n + 1) {
        margin-left: 10px;
    }

    .contact-container {
        position: absolute;
        z-index: 2;

        grid-row: auto;
        grid-column: auto;
    }

    .footer-links {
        padding: 1rem;
    }

    .footer-img-container {
        position: absolute;
        top: 340px;
        z-index: 1;

        grid-row: auto;
        grid-column: auto;
    }

    .footer-img-container > img {
        height: 100%;
    }
}
/* tablet */
@media (min-width: 750px) and (max-width: 1000px) {
    /* header-tablet */
 
    .profile-picture {
        box-shadow: none;
        grid-column: 1/3;
        grid-row: 1/2;

        z-index: 2;
    }

    .profile-picture > h2 {
        position: absolute;
        top: 0;
        right: -50%;
        font-size: 3rem;
    }

    .profile-picture > picture > img {
        max-width: 117%;
        height: auto;
    }

    .about-me {
        grid-column: 2/-1;
        grid-row: 1/2;
        padding: 4rem;

        transform: scale(0.9);
        z-index: 1;
    }

    /* main-tablet */

    .project-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    /* icon */
    .project-details > a > .devicon-github-original {
        position: absolute;
        top: 5%;
        right: 14%;
    }

    .project-details > a > .fa-solid {
        position: absolute;
        top: 5%;
        right: 3%;
    }

    /* footer-tablet */
    .contact-container {
        grid-row: 1/2;
        grid-column: 1/5;
    }

    .footer-img-container {
        grid-row: 1/2;
        grid-column: 4;
        position: relative;
    }

    .footer-img-container > img {
        max-width: 150%;
        position: absolute;
        bottom: 0;
        left: -60%;
    }
}


